.DS_Store
*.swp
*.swo
*.tmp
*.bak
*.orig
*.rej

config/nvim/session.vim
config/nvim/view/
config/nvim/swap/
config/nvim/undo/
config/nvim/backup/
config/nvim/shada/
config/nvim/.lazy.lua
config/nvim/lazy-local.json
config/nvim/local.lua
config/nvim/.nvimlog
config/nvim/*.log
# Ignore machine-specific spell files, including added exceptions
config/nvim/spell/

tmux/tmux/plugins/
